# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# IDE/editor metadata
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# dashboard
dashboard/node_modules/
dashboard/dist/
dashboard/release/